body{
  padding-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  background-size: 100% 43%;
  background-repeat: no-repeat;
  
}

html{
  scroll-behavior: smooth;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  background: transparent;
  transition: all 0.5s;
}

header.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  background: #9D0631;
  transition: all 0.5s;
}

.nav-link{
  color: white;
  
}
.nav-link:hover{
  color: rgba(255, 247, 247, 0.74);
  border-bottom: 3px solid ;
  color: rgb(160, 15, 75);
}

header.active .nav-link{
  color:white;
}

header.active .nav-link:hover{
  color: black;
}
#titulo{
  min-height: 50em;
}

#titulo h1{
  font-family: 'Lobster', cursive;
  font-size: 5em;
  color: #9D0631 ;
}
#titulo h3{
  font-size: 1.8em;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.presentacion{
  position: relative;
  top: 15rem;
}
/************************************************* HEADER*/
/*header{
  background: linear-gradient(rgb(3, 3, 73),rgb(7, 114, 150));
}*/

/************************************************* SOBRE MI*/
.sobremi{
  background-color: #d8d3d2;
}

.sobremi h2{
  font-family: 'Montserrat', sans-serif;;
  font-size: 3em;
  color: rgb(22, 22, 22);
  font-weight: 500;
}

.sobremi p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: rgb(22, 22, 22);
} 

#fotosobremi{
  height: 90%;
  width: 100%;
  border-radius: 20px;
  filter:brightness(0.8);
  
}

/************************************************* TRABAJOS*/

.trabajos h2{
  font-family: 'Montserrat', sans-serif;;
  font-size: 3em;
  color: rgb(22, 22, 22);
  font-weight: 500;
}


.btn{
  font-family: sans-serif;
  color: white;
  background-color: red;
}
.btn:hover{
  font-family: sans-serif;
  color: white;
  background-color: tomato;
}

.img-thumbnail {
  padding: 0;
  border: none;
  max-width: 76%;
  height: auto;
}

.fab.fa-whatsapp{
  border: 15px solid green;
  border-radius: 100%;
  font-size: 40px;
  background-color: green;
  color: rgb(255, 255, 255);
  padding: 0px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.rounded-circle{
  height: 55%;
  width: 55%;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}