body{
  padding-bottom: 3rem;
  background-color: white;
  font-family: 'Sanchez', serif;
}
html{
  scroll-behavior: smooth;
}

h1{
  font-family: 'Lobster', cursive;

  color: black;
}
h2{
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: rgb(53, 53, 53);
}
h3{
  font-size: 1.8em;
}

.btn{
  font-family: sans-serif;
  color: white;
  background-color: red;
}
.btn:hover{
  font-family: sans-serif;
  color: white;
  background-color: tomato;
}

.img-thumbnail {
  padding: 0;
  border: none;
  max-width: 76%;
  height: auto;
}

.fab.fa-whatsapp{
  border: 15px solid green;
  border-radius: 100%;
  font-size: 40px;
  background-color: green;
  color: rgb(255, 255, 255);
  padding: 0px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  background-color: white;
  margin-bottom: 4rem;
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
  bottom: 3rem;
  z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
  height: 32rem;
  }

  .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 35rem;
  }

  .carousel-inner p{
  color: black;
  font-size: 1.5em;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#img-presentacion{
  height: 50%;
  width: 100%;
}
.rounded-circle{
  height: 55%;
  width: 55%;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}