body{
  padding-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  background-size: 100% 46%;
  background-repeat: no-repeat;
}
html{
  scroll-behavior: smooth;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  background: transparent;
  transition: all 0.5s;
}

header.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  background: #9D0631;
  transition: all 0.5s;
}

.nav-link{
  color: white;
  
}
.nav-link:hover{
  color: #9D0631;
}

header.active .nav-link{
  color:white;
}

header.active .nav-link:hover{
  color: black;
}
#titulo{
  min-height: 50em;
}
.presentacion{
  position: relative;
  top: 15rem;
}
/********************************** HEADER*/
/*header{
  background: linear-gradient(rgb(3, 3, 73),rgb(7, 114, 150));
}*/

/********************************** SOBRE MI*/

h1{
  font-family: 'Lobster', cursive;
  font-size: 5em;
  color: #9D0631 ;
}
h2{
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: rgb(53, 53, 53);
}
h3{
  font-size: 1.8em;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.btn{
  font-family: sans-serif;
  color: white;
  background-color: red;
}
.btn:hover{
  font-family: sans-serif;
  color: white;
  background-color: tomato;
}

.img-thumbnail {
  padding: 0;
  border: none;
  max-width: 76%;
  height: auto;
}

.fab.fa-whatsapp{
  border: 15px solid green;
  border-radius: 100%;
  font-size: 40px;
  background-color: green;
  color: rgb(255, 255, 255);
  padding: 0px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.rounded-circle{
  height: 55%;
  width: 55%;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}